#navbar{
    border-bottom: 1px solid #000;
    .header{
        display: flex;
        align-items: center;
        img{
            width: 30%;
        }
        .items-menu{
            width: 100%;
            .v-btn{
                text-decoration: none;
                span{
                    color: #fff !important;
                }
                &:hover{
                    font-weight: bold;
                }
            }
            display: flex;
            justify-content: space-evenly;
        }
    }
    .v-btn{
        background-color: transparent !important;
        box-shadow: unset !important;
        span{
            text-transform: capitalize;
            font-size: 17px;
            font-weight: bold;
        }
    }
}